main {
  background-color: #34495e;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-exp {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-exp .main-header h1 {
  color: #0652dd;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.container-exp .main-header h2 {
  color: #fff;
}

.container-exp .user-reviews .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-reviews {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 40px;
}

.user-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: 20px 0;
}

.user-review {
  margin-top: 10px;
  max-width: 400px;
  max-height: 100px;
  overflow: hidden;
  overflow-y: scroll;
  color: #12cbc4;
  margin-right: 100px;
}

.user-name {
  color: #fff;
  font-size: 20px;
}
.container-exp .btn-join {
  margin-top: 50px;
  width: 300px;
}
